/* Creates a margin and padding for the entire html page */
*
{
    margin: 0;
    padding: 0;
}

/* Creates a background image for the index page, which is darkened using linear-gradient */
/* Styles the background image; only one image present using no-repeat, covers the entire page with cover and centers the image with center */
/* Height of the header is set */
.index header {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(orange_70.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

/* Creates a navigation bar and styles it; 
   navigation bar colour, navigation bar height, navigation bar width, navigation bar positioning */
.index ul {
   list-style-type: none;
  margin: 0;
  padding: 0;
  width: 6%;
  background-color: #0D0D0D;
  position: fixed;
  height: 100%;
  overflow: auto;
 text-align: center;
}

/* Styles the listed items in the navigation bar; 
   adds text color, boxes and centers the text */
.index li a {
  display: block;
  color: #D97F30;
  padding: 8px 24px;
  text-decoration: none;
  text-align: center;
}

/* Changes the active links box to darkgrey */
.index li a.active {
  background-color: darkgrey;
  color: white;
}

/* Changes the link to darkgrey on hover */
.index li a:hover {
  background-color: darkgrey;
    text-decoration: underline;
}

/* Positions everything below the logo */
.logo {
    margin-bottom: 110px;
}

/* Positions everything below the store image */
.store {
    margin-bottom: 125px;
}

/* Sets the style of the button; 
   border colour, text colour and the padding */
.index .button1 {
    border-color: orange;
    color: orange;
    padding: 7.8px;
}

/* positions the text */
.index .text
{
    position: absolute;
    width: 1200px;
    margin-left: 75px;
    margin-top: 0px;
}

/* Positions and styles the h2 */
.index h2
{
    color: rgb(234, 155, 11);
    font-size: 70px;
    text-align: left;
    margin-top: 275px;
    margin-left: 340px;
    font-family: "Helvetica", sans-serif;
    text-transform: uppercase;
}
/* Positions and styles the h3 */
.index h3
{
    color: white;
    font-size: 25px;
    text-align: left;
    margin-top: 10px;
    margin-left: 340px;
 font-family: "Helvetica", sans-serif;
    text-transform: uppercase;
}

/* Positions and styles the paragraph */
.index p
{
    color: white;
    font-size: 15px;
    text-align: left;
    margin-top: 20px;
    margin-left: 340px;
     font-family: "Helvetica", sans-serif;
}

/* styles amd positions the resp-container */
.index .resp-container {
float: right;
background: black;
    margin-top: 240px;
    margin-right: 240px;
}

/* Positions the buttons */
.index .button
{
    margin-top: 30px;
    margin-left: 340px;
}

/* Styles and positions the btn */
.index .btn
{
    border: 1px solid white;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    margin-right: 5px;
    font-size: 13px;
    text-transform: uppercase;
}

/* Styles btn-one */
.index .btn-one
{
    background-color: rgb(234, 155, 11);
    font-family: "Roboto", sans-serif;
}

/* styles btn-two */
.index .btn-two
{
    font-family: "Roboto", sans-serif;
}

/* styles btn-two on hover */
.index .btn-two:hover
{
    background-color: rgb(234, 155, 11);
    transition: all 0.5s ease-in;
}

/* styles the search bar */
.index input[type=text] {
    background-color: white;
    margin-left: 115px;
    padding: 10px 20px 10px 40px;
    width: 95px;
    font-size: 18px;
    transition: width 0.4s ease-in-out;
    border-radius: 8px;
}

/* Allows for the search bar to extend */
.index input[type=text]:focus {
  width: 90.5%;
}

/* styles the search bar section */
.index .searchbar {
    background-color: black;
    padding: 4px;
}

/* Styles the newsletter section */
#newsletter{
    padding:30px 85px 95px 85px;
    color:#ffffff;
    background:#000000
}

/* Styles h1 in the newsletter */
#newsletter h1{
    float: left;
    margin-top:0.1px;
    margin-bottom:0.1px;
    font-size: 48px;
    font-family: "Helvetica", sans-serif;
    text-transform: uppercase;
    color: white;
}

/* Positions the form */
#newsletter form {
    float: right;
    margin-top:15px;
    margin-right: 310px;
}

/* Styles and positions the input */
#newsletter input[type="email"]{
    padding:4px;
    margin-left: 45px;
    height:25px;
    width:350x;
}

/* Styles and positions button 2 */
.button2{
    height:38px;
    background: rgb(234, 155, 11);
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color:#ffffff;
}

--------------------------------------------------

/* Changes the colours and margins of the section */
.gallery section {
    text-align: center;
    margin: 5px, 5px, 5px, 5px;
    background-color: #D9C896;
    overflow: auto;
    float: right;
}

/* styles the header */
.gallery header {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(orange_70.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

/* Creates a navigation bar and styles it; 
   navigation bar colour, navigation bar height, navigation bar width, navigation bar positioning */
.gallery ul {
   list-style-type: none;
  margin: 0;
  padding: 0;
  width: 6%;
  background-color: #0D0D0D;
  position: fixed;
  height: 100%;
  overflow: auto;
 text-align: center;
}

/* Styles the listed items in the navigation bar; 
   adds text color, boxes and centers the text */
.gallery li a {
  display: block;
  color: #D97F30;
  padding: 8px 24px;
  text-decoration: none;
  text-align: center;
}

/* Changes the active links box to darkgrey */
.gallery li a.active {
  background-color: darkgrey;
  color: white;
}

/* Changes the link to darkgrey on hover */
.gallery li a:hover {
  background-color: darkgrey;
    text-decoration: underline;
}

/* Sets the style of the button; 
   border colour, text colour and the padding */
.gallery .button1 {
    border-color: orange;
    color: orange;
    padding: 7.8px;
}

.gallery .resp-container {
float: right;
background: black;
    margin-top: 240px;
    margin-right: 240px;
}

/* Creates columns which float from the left, each having 33% width */
.gallery .column {
    background-color: black;
    color: white;
   float: right;
    width: 25%;
    margin: 20px;
    height: 383px;
    padding: 10px 68px 10px 10px;
    
}

/* colors the h1 */
.gallery h1 {
    color: orange;
}

/* styles and positions the column2 */
.gallery .column2 {
   background-color: black;
    color: white;
   float: right;
    width: 90.5%;
    margin: 20px;
    height: 100px;
    padding: 10px 10px 10px 10px;
    text-align: center;
}

/* changes the font size of the paragraph */
.gallery p {
    font-size: 20px;
}

/* positions the button */
.gallery .button
{
    margin-top: 30px;
    margin-left: 340px;
}

/* Styles the btn */
.gallery .btn
{
    border: 1px solid white;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    margin-right: 5px;
    font-size: 13px;
    text-transform: uppercase;
}

/* styles btn-one */
.gallery .btn-one
{
    background-color: rgb(234, 155, 11);
    font-family: "Roboto", sans-serif;
}

/* styles btn-two */
.gallery .btn-two
{
    font-family: "Roboto", sans-serif;
}

/* styles btn-two on hover */
.gallery .btn-two:hover
{
    background-color: rgb(234, 155, 11);
    transition: all 0.5s ease-in;
}

/* styles the search bar */
.gallery input[type=text] {
    background-color: white;
    margin-left: 115px;
    padding: 10px 20px 10px 40px;
    width: 95px;
    font-size: 18px;
    transition: width 0.4s ease-in-out;
    border-radius: 8px;
}

/* extends the search bar */
.gallery input[type=text]:focus {
  width: 90.5%;
}

/*  styles the search bar section */
.gallery .searchbar {
    background-color: black;
    padding: 4px;
}

--------------------------------------------------

/* Changes the colours and margins of the section */
.aboutus section {
    text-align: center;
    margin: 5px, 5px, 5px, 5px;
    background-color: #D9C896;
    overflow: auto;
    float: right;
}

/* styles the header */
.aboutus header {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(orange_70.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

/* Creates a navigation bar and styles it; 
   navigation bar colour, navigation bar height, navigation bar width, navigation bar positioning */
.aboutus ul {
   list-style-type: none;
  margin: 0;
  padding: 0;
  width: 6%;
  background-color: #0D0D0D;
  position: fixed;
  height: 100%;
  overflow: auto;
 text-align: center;
}

/* Styles the listed items in the navigation bar; 
   adds text color, boxes and centers the text */
.aboutus li a {
  display: block;
  color: #D97F30;
  padding: 8px 24px;
  text-decoration: none;
  text-align: center;
}

/* Changes the active links box to darkgrey */
.aboutus li a.active {
  background-color: darkgrey;
  color: white;
}

/* Changes the link to darkgrey on hover */
.aboutus li a:hover {
  background-color: darkgrey;
    text-decoration: underline;
}

/* Sets the style of the button; 
   border colour, text colour and the padding */
.aboutus .button1 {
    border-color: orange;
    color: orange;
    padding: 7.8px;
}

.aboutus .resp-container {
float: right;
background: black;
    margin-top: 240px;
    margin-right: 240px;
}

/* Creates columns which float from the left, each having 33% width */
.aboutus .column {
    background-color: black;
    color: white;
   float: right;
    width: 25%;
    margin: 20px;
    height: 383px;
    padding: 10px 68px 10px 10px;
    
}

/* styles the h1 */
.aboutus h1 {
    color: orange;
}

/* styles the column2 */
.aboutus .column2 {
   background-color: black;
    color: white;
   float: right;
    width: 90.5%;
    margin: 20px;
    height: 100px;
    padding: 10px 10px 10px 10px;
    text-align: center;
}

/* Styles paragraph */
.aboutus p {
    font-size: 20px;
}

/* Positions button */
.aboutus .button
{
    margin-top: 30px;
    margin-left: 340px;
}

/* Styles btn */
.aboutus .btn
{
    border: 1px solid white;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    margin-right: 5px;
    font-size: 13px;
    text-transform: uppercase;
}

/* Styles btn-one */
.aboutus .btn-one
{
    background-color: rgb(234, 155, 11);
    font-family: "Roboto", sans-serif;
}

/* Styles btn-two */
.aboutus .btn-two
{
    font-family: "Roboto", sans-serif;
}

/* Styles btn-two on hover */
.aboutus .btn-two:hover
{
    background-color: rgb(234, 155, 11);
    transition: all 0.5s ease-in;
}

/* Styles search bar */
.aboutus input[type=text] {
    background-color: white;
    margin-left: 115px;
    padding: 10px 20px 10px 40px;
    width: 95px;
    font-size: 18px;
    transition: width 0.4s ease-in-out;
    border-radius: 8px;
}

/* extends search bar */
.aboutus input[type=text]:focus {
  width: 90.5%;
}

/* Styles search bar section */
.aboutus .searchbar {
    background-color: black;
    padding: 4px;
}

--------------------------------------------------

/* Changes the colours and margins of the section */
.store section {
    text-align: center;
    margin: 5px, 5px, 5px, 5px;
    background-color: #D9C896;
    overflow: auto;
    float: right;
}

/* Styles the header and positions */
.store header {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(orange_70.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

/* Creates a navigation bar and styles it; 
   navigation bar colour, navigation bar height, navigation bar width, navigation bar positioning */
.store ul {
   list-style-type: none;
  margin: 0;
  padding: 0;
  width: 6%;
  background-color: #0D0D0D;
  position: fixed;
  height: 100%;
  overflow: auto;
 text-align: center;
}

/* Styles the listed items in the navigation bar; 
   adds text color, boxes and centers the text */
.store li a {
  display: block;
  color: #D97F30;
  padding: 8px 24px;
  text-decoration: none;
  text-align: center;
}

/* Changes the active links box to darkgrey */
.store li a.active {
  background-color: darkgrey;
  color: white;
}

/* Changes the link to darkgrey on hover */
.store li a:hover {
  background-color: darkgrey;
    text-decoration: underline;
}

/* Sets the style of the button; 
   border colour, text colour and the padding */
.store .button1 {
    border-color: orange;
    color: orange;
    padding: 7.8px;
}

/* Positions the resp-container */
.store .resp-container {
float: right;
background: black;
    margin-top: 240px;
    margin-right: 240px;
}

/* Creates columns which float from the left, each having 33% width */
.store .column {
    background-color: black;
    color: white;
   float: right;
    width: 40.6%;
    margin: 20px;
    height: 383px;
    padding: 10px 68px 10px 10px;
    
}

/* styles h1 */
.store h1 {
    color: orange;
}

/* Styles and positions column2 */
.store .column2 {
   background-color: black;
    color: white;
   float: right;
    width: 90.5%;
    margin: 20px;
    height: 100px;
    padding: 10px 10px 10px 10px;
    text-align: center;
}

/* Styles paragraph */
.store p {
    font-size: 20px;
}

/* positions button */
.store .button
{
    margin-top: 30px;
    margin-left: 340px;
}

/* styles btn */
.store .btn
{
    border: 1px solid white;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    margin-right: 5px;
    font-size: 13px;
    text-transform: uppercase;
}

/* styles btn-one */
.store .btn-one
{
    background-color: rgb(234, 155, 11);
    font-family: "Roboto", sans-serif;
}

/* styles btn-two */
.store .btn-two
{
    font-family: "Roboto", sans-serif;
}

/* styles btn-two on hover */
.store .btn-two:hover
{
    background-color: rgb(234, 155, 11);
    transition: all 0.5s ease-in;
}

/* styles text input */
.store input[type=text] {
    background-color: white;
    margin-left: 115px;
    padding: 10px 20px 10px 40px;
    width: 95px;
    font-size: 18px;
    transition: width 0.4s ease-in-out;
    border-radius: 8px;
}

/* extends text input */
.store input[type=text]:focus {
  width: 90.5%;
}

/* search bar background colour */
.store .searchbar {
    background-color: black;
    padding: 4px;
}