/* Creates a margin and padding for the entire html page */
*
{
    margin: 0;
    padding: 0;
}

/* Creates a background image for the index page, which is darkened using linear-gradient */
/* Styles the background image; only one image present using no-repeat, covers the entire page with cover and centers the image with center */
/* Height of the header is set */
.index header {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(orange_70.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

/* Creates a navigation bar and styles it; 
   navigation bar colour, navigation bar height, navigation bar width, navigation bar positioning */
.index ul {
   list-style-type: none;
  margin: 0;
  padding: 0;
  width: 6%;
  background-color: #0D0D0D;
  position: fixed;
  height: 100%;
  overflow: auto;
 text-align: center;
}

/* Styles the listed items in the navigation bar; 
   adds text color, boxes and centers the text */
.index li a {
  display: block;
  color: #D97F30;
  padding: 8px 24px;
  text-decoration: none;
  text-align: center;
}

/* Changes the active links box to darkgrey */
.index li a.active {
  background-color: darkgrey;
  color: white;
}

/* Changes the link to darkgrey on hover */
.index li a:hover {
  background-color: darkgrey;
    text-decoration: underline;
}

.logo {
    margin-bottom: 110px;
}

.store {
    margin-bottom: 125px;
}

/* Sets the style of the button; 
   border colour, text colour and the padding */
.index .button1 {
    border-color: orange;
    color: orange;
    padding: 7.8px;
}

.index .text
{
    position: absolute;
    width: 1200px;
    margin-left: 75px;
    margin-top: 0px;
}

.index h2
{
    color: rgb(234, 155, 11);
    font-size: 70px;
    text-align: left;
    margin-top: 275px;
    margin-left: 340px;
    font-family: "Helvetica", sans-serif;
    text-transform: uppercase;
}

.index h3
{
    color: white;
    font-size: 25px;
    text-align: left;
    margin-top: 10px;
    margin-left: 340px;
 font-family: "Helvetica", sans-serif;
    text-transform: uppercase;
}

.index p
{
    color: white;
    font-size: 15px;
    text-align: left;
    margin-top: 20px;
    margin-left: 340px;
     font-family: "Helvetica", sans-serif;
}

.index .resp-container {
float: right;
background: black;
    margin-top: 240px;
    margin-right: 240px;
}

.index .button
{
    margin-top: 30px;
    margin-left: 340px;
}

.index .btn
{
    border: 1px solid white;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    margin-right: 5px;
    font-size: 13px;
    text-transform: uppercase;
}

.index .btn-one
{
    background-color: rgb(234, 155, 11);
    font-family: "Roboto", sans-serif;
}

.index .btn-two
{
    font-family: "Roboto", sans-serif;
}

.index .btn-two:hover
{
    background-color: rgb(234, 155, 11);
    transition: all 0.5s ease-in;
}

.index input[type=text] {
    background-color: white;
    margin-left: 115px;
    padding: 10px 20px 10px 40px;
    width: 95px;
    font-size: 18px;
    transition: width 0.4s ease-in-out;
    border-radius: 8px;
}

.index input[type=text]:focus {
  width: 90.5%;
}

.index .searchbar {
    background-color: black;
    padding: 4px;
}

#newsletter{
    padding:30px 85px 95px 85px;
    color:#ffffff;
    background:#000000
}

#newsletter h1{
    float: left;
    margin-top:0.1px;
    margin-bottom:0.1px;
    font-size: 48px;
    font-family: "Helvetica", sans-serif;
    text-transform: uppercase;
}

#newsletter form {
    float: right;
    margin-top:15px;
    margin-right: 310px;
}

#newsletter input[type="email"]{
    padding:4px;
    margin-left: 45px;
    height:25px;
    width:350x;
}

.button2{
    height:38px;
    background: rgb(234, 155, 11);
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color:#ffffff;
}

--------------------------------------------------

/* Changes the look and positioning of the header image at the top of the page */
.gallery header {
  background-color: #696969;
  text-align: center;
  background-image: url(rocks-2371487_1920.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 120px;
  margin: 5px, 0, 0, 0;
}

/* Creates columns which float from the left, each having 33% width */
.gallery .column {
    background-color: #D9C896;
   float: left;
    width: 33%;
    margin: 3.18px;
}

/* Changes the colours and margins of the section */
.gallery section {
    text-align: center;
    margin: 5px, 5px, 5px, 5px;
    background-color: #D9C896;
}

.gallery img {
    float: inherit;
}

.gallery .button1 {
    border-color: orange;
    color: orange;
    padding: 7.8px;
}

.gallery input[type=text] {
    background-color: white;
    margin-left: 115px;
    padding: 10px 20px 10px 40px;
    width: 95px;
    font-size: 18px;
    transition: width 0.4s ease-in-out;
    border-radius: 8px;
}

.gallery input[type=text]:focus {
  width: 90.5%;
}

.gallery .searchbar {
    background-color: black;
    padding: 4px;
}
#newsletter{
    padding:30px 85px 95px 85px;
    color:#ffffff;
    background:#000000
}

#newsletter h1{
    float: left;
    margin-top:0.1px;
    margin-bottom:0.1px;
    font-size: 48px;
    font-family: "Helvetica", sans-serif;
    text-transform: uppercase;
}

#newsletter form {
    float: right;
    margin-top:15px;
    margin-right: 310px;
}

#newsletter input[type="email"]{
    padding:4px;
    margin-left: 45px;
    height:25px;
    width:350x;
}

.button2{
    height:38px;
    background: rgb(234, 155, 11);
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color:#ffffff;
}

/* Creates a navigation bar and styles it; 
   navigation bar colour, navigation bar height, navigation bar width, navigation bar positioning */
.gallery ul {
   list-style-type: none;
  margin: 0;
  padding: 0;
  width: 6%;
  background-color: #0D0D0D;
  position: fixed;
  height: 100%;
  overflow: auto;
 text-align: center;
}

/* Styles the listed items in the navigation bar; 
   adds text color, boxes and centers the text */
.gallery li a {
  display: block;
  color: #D97F30;
  padding: 8px 24px;
  text-decoration: none;
  text-align: center;
}

/* Changes the active links box to darkgrey */
.gallery li a.active {
  background-color: darkgrey;
  color: white;
}

/* Changes the link to darkgrey on hover */
.gallery li a:hover {
  background-color: darkgrey;
    text-decoration: underline;
}

--------------------------------------------------

/* Changes the colours and margins of the section */
.aboutus section {
    text-align: center;
    margin: 5px, 5px, 5px, 5px;
    background-color: #D9C896;
    overflow: auto;
    float: right;
}

.aboutus header {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(orange_70.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

/* Creates a navigation bar and styles it; 
   navigation bar colour, navigation bar height, navigation bar width, navigation bar positioning */
.aboutus ul {
   list-style-type: none;
  margin: 0;
  padding: 0;
  width: 6%;
  background-color: #0D0D0D;
  position: fixed;
  height: 100%;
  overflow: auto;
 text-align: center;
}

/* Styles the listed items in the navigation bar; 
   adds text color, boxes and centers the text */
.aboutus li a {
  display: block;
  color: #D97F30;
  padding: 8px 24px;
  text-decoration: none;
  text-align: center;
}

/* Changes the active links box to darkgrey */
.aboutus li a.active {
  background-color: darkgrey;
  color: white;
}

/* Changes the link to darkgrey on hover */
.aboutus li a:hover {
  background-color: darkgrey;
    text-decoration: underline;
}

/* Sets the style of the button; 
   border colour, text colour and the padding */
.aboutus .button1 {
    border-color: orange;
    color: orange;
    padding: 7.8px;
}

.aboutus .resp-container {
float: right;
background: black;
    margin-top: 240px;
    margin-right: 240px;
}

/* Creates columns which float from the left, each having 33% width */
.aboutus .column {
    background-color: black;
    color: white;
   float: right;
    width: 25%;
    margin: 20px;
    height: 383px;
    padding: 10px 68px 10px 10px;
    
}

.aboutus h1 {
    color: orange;
}

.aboutus .column2 {
   background-color: black;
    color: white;
   float: right;
    width: 90.5%;
    margin: 20px;
    height: 100px;
    padding: 10px 10px 10px 10px;
    text-align: center;
}


.aboutus .button
{
    margin-top: 30px;
    margin-left: 340px;
}

.aboutus .btn
{
    border: 1px solid white;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    margin-right: 5px;
    font-size: 13px;
    text-transform: uppercase;
}

.aboutus .btn-one
{
    background-color: rgb(234, 155, 11);
    font-family: "Roboto", sans-serif;
}

.aboutus .btn-two
{
    font-family: "Roboto", sans-serif;
}

.aboutus .btn-two:hover
{
    background-color: rgb(234, 155, 11);
    transition: all 0.5s ease-in;
}

.aboutus input[type=text] {
    background-color: white;
    margin-left: 115px;
    padding: 10px 20px 10px 40px;
    width: 95px;
    font-size: 18px;
    transition: width 0.4s ease-in-out;
    border-radius: 8px;
}

.aboutus input[type=text]:focus {
  width: 90.5%;
}

.aboutus .searchbar {
    background-color: black;
    padding: 4px;
}

#newsletter{
    padding:30px 85px 95px 85px;
    color:#ffffff;
    background:#000000
}

#newsletter h1{
    float: left;
    margin-top:0.1px;
    margin-bottom:0.1px;
    font-size: 48px;
    font-family: "Helvetica", sans-serif;
    text-transform: uppercase;
    color: white;
}

#newsletter form {
    float: right;
    margin-top:15px;
    margin-right: 310px;
}

#newsletter input[type="email"]{
    padding:4px;
    margin-left: 45px;
    height:25px;
    width:350x;
}

.button2{
    height:38px;
    background: rgb(234, 155, 11);
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color:#ffffff;
}

---------------------------------------------------------------------------

.shop header {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(orange_70.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

